form {
    margin: 8px;
    padding: 8px;
    border: 1px solid #a8a8a8;
    background-color: whitesmoke;
	width: 300px;
}
table {
    border: 0px solid #fff;
    font-size: medium;
    font-family: Times New Roman, serif;
    letter-spacing:2px;
    margin: 1px;
    padding: 1px;
}
table caption {
    font-size: medium;
    font-family: Verdana;
    font-weight: bold;
    letter-spacing:8px;
    margin: 8px;
    padding: 2px;
}
table th {
	/*border: #333333 solid;*/
    font-size: medium;
    font-family: Verdana;
    font-weight: normal;
    letter-spacing: 0px;
    margin: 1px;
    padding: 0px;
	width:100px;
    text-align: right;
}
table td {
    font-size: medium;
    font-family: Verdana;
    font-weight: normal;
    letter-spacing:2px;
    margin: 8px;
    padding: 8px;
    text-align: left;
}
input[type="text"] {
    width: 100px;
}

#datainput{
	float:left;
}
#draw{
	float:left;
}
#mytip{
	text-align: left;
	font-size: 16px;
	line-height: 25px;
}
#div1{
	height: 150px;
}
#show{
	font-family: "仿宋";
	font-size: 30px;
	line-height: 60px;
}